.gradient-custom-2 {

background: #90b2fc;


background: -webkit-linear-gradient(to bottom,#a5aed9,#818dca,#5e6dbb,#4453a1,#35417e);


background: linear-gradient(to right,#a5aed9,#818dca,#5e6dbb,#4453a1,#35417e);
}


@media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
}
.icon-font{
    font-size:35px;
}
.button-style{
    color: white;
    background: #90b2fc;


    background: -webkit-linear-gradient(to right,#7888d4,#5166c7,#384cae,#2b3b87);


    background: linear-gradient(to right,#7888d4,#5166c7,#384cae,#2b3b87);
}
.button-style:hover{
    background: -webkit-linear-gradient(to right,#384cae,#2b3b87)
}
.bg-login-img{
 background-image: url(../Img/peakpx.jpg);
 background-repeat: no-repeat;
}